@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding-bottom: 10rem;
  padding: 0;
  font: 12pt "Tahoma";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  size: A4;
  margin: 0;
  width: 21cm;
  min-height: 29.7cm;
  margin: 1cm auto;
  padding: 40px;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  padding: 1cm;
  height: 220mm;
}

@page {
  size: A4;
  margin: 0;

}


@media print {
  html, body {
    width: 210mm;
    height: 80%;
    -webkit-print-color-adjust: exact;
  }
  .page{
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    page-break-before: always;
    -webkit-print-color-adjust: exact;
  }
  
  .element, .gridItem, .gridElement{
    page-break-inside: avoid;
  }

  .break{
    page-break-inside:initial;
  }

  .header-space {
    height: 106px;
    -webkit-print-color-adjust: exact;
  }

  .footer, .footer-space{
      height: 94px;
    -webkit-print-color-adjust: exact;
  }

  .header {
    height: 106px;
    -webkit-print-color-adjust: exact;
  }.header {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-print-color-adjust: exact;
  }.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    visibility: visible;
    -webkit-print-color-adjust: exact;
  }
}

.footer {
  visibility: visible;
  content: counter(page);
}

.element {
  padding: 2px;
}

.gridElement{
  width: 100%;
  border: solid 1px black
}

.gridItem {
  text-align: center;
  overflow-wrap: break-word;
  border: 1px black solid
}

.page {
  page-break-after: always;
}
