@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding-bottom: 10rem;
  padding: 0;
  font: 12pt "Tahoma";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  size: A4;
  margin: 0;
  width: 21cm;
  min-height: 29.7cm;
  margin: 1cm auto;
  padding: 1cm;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  border: 1px solid gray;
  padding: 1cm;
  height: 260mm;
  border: 1px #d1d1d1 solid;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 80%;
    -webkit-print-color-adjust: exact;
  }
  .page{
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  .header, .header-space,
  .footer, .footer-space {
    height: 100px;
  }.header {
    position: fixed;
    top: 0;
    width: 100%;
  }.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.page {
  page-break-after: always;
}

